@import "settings";

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  overflow-x: hidden;
  * {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.wrapper {
  min-width: 100%;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  .blur {
    filter: blur(2px) opacity(0.9);
    -webkit-filter: blur(2px) opacity(0.9);
    overflow: hidden;
  }

  &.page {
    height: 100vh;
  }

  &.flex-row {
    height: 95vh;
    -webkit-flex-direction: row;
     flex-direction: row;
  }

  .wrapper {
    flex: 1;
  }
}

.logo {
  display: inline-block;
  padding: 0;
  margin: 10px 10px 0;
  a {
    display: block;
  }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p:empty {
  display: none;
}

table {
  padding: 0;
  border-collapse: collapse;
  tr {
    border-top: 1px solid $table-border-color;
    background-color: $table-bg-color;
    margin: 0;
    padding: 0;
    &:nth-child(1) {
      background-color: $table-header-bg-color;
    }
  }
  th {
    font-weight: 500;
    font-size: 14px;
    border: 1px solid $table-border-color;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  td {
    border: 1px solid $table-border-color;
    text-align: left;
    margin: 0;
    padding: 7px 13px;
    font-weight: 300;
    font-size: 14px;
    vertical-align: middle;
  }
  th:first-child, td:first-child {
    margin-top: 0;
  }
  th:last-child, td:last-child {
    margin-bottom: 0;
  }
}

*::selection {
  background-color: $selection-bg-color;
  color: $selection-font-color;
}
