$color-seashell: #F1F1F1;
$color-seashell-2: #F0F0F0;
$color-alabaster: #FBFBFB;
$color-black-haze: #F7F7F7;
$color-mariner: #1A75CE;
$color-azure: #145EA7;
$color-curious-blue: #1497E1;
$color-azure-transparent: rgba(20, 94, 167, 0.52);
$color-white: #FFFFFF;
$color-buttercup: #f7b428;
$color-black: rgba(0, 0, 0, 0.55);
$color-black-12: rgba(0, 0, 0, 0.12);
$color-tango: #F37B20;
$color-nobel: #B5B4B4;
$color-alto: #DEDEDE;
$color-iron: #D4D4D4;
$color-shark: #212121;
