@import "colors";

$bg-color: $color-seashell-2;
$base-bg-color: $color-alabaster;
$base-font-color: $color-black;
$base-border-color: $color-black-12;
$selection-bg-color: $color-azure-transparent;
$selection-font-color: $bg-color;
$overlay-color: $color-azure-transparent-low;

//  Header
$header-height: 60px;
$header-width: 100%;

//  Footer
$footer-height: 40px;
$footer-width: 100%;
$footer-bg-color: $base-bg-color;

// Sidebar
$sidebar-width: 18%;
$sidebar-height: auto;
$sidebar-max-width: 300px;
$sidebar-min-width: 220px;
$sidebar-bg-color: $color-seashell-2;

// App name
$app-name-bg-color: $color-black-haze;
$app-name-font-color: $color-nobel;

// Menu vertical
$menu-vertical-title-font-size: 20px;
$menu-vertical-item-font-size: 16px;

//  Main
$main-content-translate: 18%;
$main-content-max-width: 1800px;

// table
$table-border-color: $color-iron;
$table-header-bg-color: $color-seashell-2;
$table-bg-color: $color-white;

// syntax-highlight
$syntax-bg-color: $color-oxford-blue;
