@import "app/styles/settings";

.search-box {
  height: 58px;
  padding: 10px 0 0 13px;
  min-height: 50px;
  max-height: 50px;
  text-align: center;
  border-bottom: 1px solid $base-border-color;
  background: $bg-color;

  .search-wrapper {
    overflow: auto;
    position: relative;
  }

  .icon-search {
    position: absolute;;
    top: 5px;
    left: 5px;
    svg {
      fill: $color-buttercup;
    }
  }

  input[type="search"] {
    -webkit-appearance: none;
    height: 30px;
    width: 100%;
    background-color: $color-alabaster;
    border: 0;
    border-radius: 30px 0px 0px 30px;
    color: $color-mariner;
    font-size: 13px;
    letter-spacing: 0.5px;
    outline-style: none;
    padding-left: 35px;

    &::-webkit-input-placeholder {
       color: $color-black;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $color-seashell;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $color-black;
    }
    &:-ms-input-placeholder {
       color: $color-black;
    }
  }

  input[type="search"]::-webkit-search-cancel-button {
    margin-right: 10px;
  }

  &.overlay {
    position: absolute;
    background: $overlay-color;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    top: 0;
    z-index: 99;

    .search-wrapper {
      top: 50px;
      width: 70%;
      margin: 0 auto;
    }

    input[type="search"] {
      height: 70px;
      width: 96%;
      background-color: $color-white;
      border-radius: 60px;
      padding-left: 65px;
      font-size: 40px;
      font-weight: 200;
      float: left;
    }

    .icon-search {
      top: 15px;
      left: 15px;
    }

    .search-box-result {
      position: absolute;
      border: 0;
      width: 100%;
      max-width: 60%;
      top: 137px;
      border-radius: 2px;
      left: 20%;
      height: 50vh;
      overflow: hidden;
      box-shadow: 0 0 0;
      background-color: transparent;

      .search-box-header {
        background: transparent;
        font-weight: 700;
        border-bottom: 0;
        color: $color-buttercup;
      }

      .search-result {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        max-height: 86%;
        overflow-y: auto;
      }

      .search-result-item {
        background: transparent;
        border: 0;
        padding-bottom: 10px;

        &:hover {
          background-color: $color-mine-shaft;
        }

        a {
          color: $color-white;

          .search-result-details {
            font-weight: 700;
            font-size: 18px;
          }

          .description {
            margin: 0 9px;
            font-size: 13px;
            font-weight: 500;
            color: $color-tropical-blue;
          }

          &:hover {
            .search-result-details {
              color: $color-buttercup;
            }
            .description {
              color: $color-tropical-blue;
            }
          }
        }

        .search-result-details {
          background-color: transparent;
          border-bottom: 0;
          padding: 7px;
          font-weight: 400;
        }
      }
    }
  }
}
