@import "app/styles/base";

.app-name {
  background-color: $base-bg-color;
  padding: 15px 10px;
  border-bottom: 1px solid $base-border-color;
  font-size: 18px;
  font-weight: 400;
  color: $base-font-color;
}
