@import "app/styles/base";

.app-name {
  background-color: $app-name-bg-color;
  padding: 15px 10px;
  border-bottom: 1px solid $base-border-color;
  font-size: 18px;
  font-weight: 100;
  color: $app-name-font-color;
}
