@import "app/styles/settings";

header {
  height: $header-height;
  width: $header-width;
  background-color: $color-slate-gray;
  border-bottom: 1px solid $color-azure;
  position: relative;
  z-index: 99;
  border-bottom: solid 2px $color-buttercup;
  h1 {
    margin: 0;
  }
}
