@import "app/styles/settings";

.footer {
  height: $footer-height;
  width: $footer-width;
  background-color: $footer-bg-color;
  border-top: 1px solid $color-black-12;
  position: relative;
  z-index: 9;
  margin-top: 10px;
  .page-wrapper {
    height: 100%;
    justify-content: flex-end;
    flex-flow: row wrap;
  }
  .app-version {
    float: right;
    color: $color-black;
    font-size: 12px;
    padding-top: 15px;
  }
}
